@import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #0b1f28;
  margin: 0 auto;
  font-style: normal;
}

.container {
  width: 100%;
  max-width: 1255px;
  display: flex;
  margin: 0 auto;
  padding: 15px 15px;
  position: relative;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

button {
  cursor: pointer;
}

.adventure {
  background: url(../images/background-img.png) center center/cover no-repeat;
  padding: 25px 95px 25px 95px;
  position: relative;
}

.adventure:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background: linear-gradient(0deg, #0A1E27 10.81%, rgba(10, 30, 39, 0.4) 94.68%, rgba(10, 30, 39, 0) 100.15%);
}

.adventure__wrap {
  z-index: 1;
}

.adventure__logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 34px;
  text-transform: uppercase;
  font-family: "Major Mono Display";
  color: #ffffff;
  margin-bottom: 188px;
}

.logo__link {
  width: -moz-fit-content;
  width: fit-content;
}

.logo__link:hover {
  background: linear-gradient(270deg, #474bff 0%, #fcff47 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 0.75s ease-in-out;
  transform: scaleX(1.1);
}

.adventure__presentation {
  display: flex;
  flex-direction: column;
  max-width: 513px;
  width: 100%;
  text-align: start;
  justify-content: flex-start;
  margin-bottom: 450px;
}

.presentation__title {
  font-weight: 400;
  font-size: 100px;
  line-height: 100px;
  font-family: "Playfair Display";
  color: #ffffff;
  margin-bottom: 8px;
}

.presentation__text {
  color: #D3BA74;
  font-weight: 700;
  font-size: 20px;
  line-height: 22px;
  letter-spacing: 0.24em;
  font-family: "Poppins";
  margin-bottom: 40px;
}

.presentation__paragraph {
  font-style: normal;
  font-weight: 300;
  font-size: 1rem;
  line-height: 24px;
  width: 100%;
  max-width: 513px;
  font-family: "Poppins";
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 47px;
}

.presentation__btn {
  display: flex;
  align-items: center;
  padding: 10px 14px;
  gap: 10px;
  max-width: 99px;
  width: 100%;
  height: 38px;
  border: 1px solid #FFFFFF;
  filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.1));
  border-radius: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  font-family: "Poppins";
  color: rgba(255, 255, 255, 0.8);
  background: inherit;
}

.presentation__btn:hover {
  transform: scale(1.1);
  transition: 0.75s ease-out;
  background: linear-gradient(270deg, #474bff 0%, #fcff47 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 0.75s ease;
}

.content {
  display: flex;
  flex-direction: column;
  margin-bottom: 150px;
}

.content_readout {
  display: flex;
  gap: 20px;
}

.readout {
  display: flex;
  flex-direction: column;
  max-width: 723px;
  width: 100%;
  position: relative;
  padding-left: 200px;
  padding-top: 145px;
  z-index: 1;
  align-items: center;
}

.readout__info {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 564px;
}

.readout__span {
  position: absolute;
  top: 0;
  left: 0;
  color: rgba(255, 255, 255, 0.13);
  font-style: normal;
  font-weight: 600;
  font-size: 180px;
  line-height: 150%;
  font-family: "Poppins";
  z-index: 0;
}

.span_first {
  left: 36px;
}

.info__gold {
  display: flex;
  align-items: center;
  gap: 8px;
}

.gold__line {
  width: 51px;
  height: 2px;
  background: #D3BA74;
}

.gold__text {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.24em;
  font-family: "Poppins";
  color: #D3BA74;
}

.readout__title {
  font-style: normal;
  font-weight: 400;
  font-size: 70px;
  line-height: 70px;
  font-family: "Playfair Display";
  color: #ffffff;
  margin-bottom: 20px;
}

.readout__paragraph {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  width: 100%;
  max-width: 528px;
  font-family: "Poppins";
  color: rgba(255, 255, 255, 0.8);
}

.content__img {
  max-width: 512px;
  width: 100%;
  margin-bottom: 64px;
}
.content__img img {
  width: 100%;
}

.content__images {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

.explore__wrap {
  display: flex;
  flex-direction: column;
  gap: 212px;
  width: 100%;
}

.count__wrap {
  display: flex;
  gap: 100px;
  margin: 0 auto;
}

.count {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.count__amount {
  font-weight: 600;
  font-size: 100px;
  line-height: 110px;
  color: rgba(255, 255, 255, 0.13);
}

.count__gold {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.24em;
  color: #D3BA74;
  font-family: "Poppins";
}

.count__wrap::before {
  content: "";
  position: absolute;
  top: 200px;
  left: 0;
  width: 100%;
  height: 1px;
  background: rgba(255, 255, 255, 0.2);
}

.explore {
  display: flex;
  margin-bottom: 80px;
  position: relative;
  justify-content: space-between;
}

.explore::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  bottom: -80px;
  left: 0;
  background: rgba(255, 255, 255, 0.2);
}

.readout__paragraph {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  width: 100%;
  max-width: 513px;
  font-family: "Poppins";
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 47px;
}

.explore_img {
  width: 100%;
  max-width: 618px;
}
.explore_img img {
  width: 100%;
}

.foo_logo {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.btn__group {
  display: flex;
  gap: 44px;
}

.btn__group button {
  background: inherit;
  border: none;
}

@media screen and (max-width: 1305px) {
  .content {
    margin-bottom: 50px;
  }
  .content__img {
    max-width: 465px;
  }
  .readout {
    max-width: 623px;
    padding-left: 140px;
    padding-top: 110px;
  }
  .content__images {
    flex-wrap: wrap;
    justify-content: center;
  }
  .content__images a {
    width: 100%;
    max-width: 400px;
    padding: 0;
  }
  .content__images a img {
    width: 100%;
    max-width: 400px;
  }
  .readout__span {
    left: -19px;
  }
}
@media screen and (max-width: 1023px) {
  .container {
    max-width: 995px;
  }
  .adventure {
    padding: 0;
  }
  .adventure__logo {
    justify-content: flex-start;
    font-size: 18px;
    margin-bottom: 50px;
  }
  .adventure__presentation {
    margin-bottom: 50px;
  }
  .presentation__title {
    font-size: 85px;
    line-height: 75px;
    margin-bottom: 12px;
  }
  .presentation__text {
    font-size: 0.8rem;
    margin-bottom: 30px;
  }
  .presentation-paragraph {
    font-size: 1rem;
  }
  .presentation__btn {
    padding: 8px 10px;
    width: 83px;
    height: 34px;
    font-size: 10px;
    line-height: 12px;
  }
  .content {
    margin-bottom: 50px;
    align-items: center;
  }
  .content_readout {
    display: flex;
    gap: 20px;
  }
  .readout {
    max-width: 550px;
    width: 100%;
    padding-left: 20px;
    padding-top: 0px;
  }
  .readout__info {
    max-width: 364px;
    margin-top: 45px;
    margin-left: 37px;
  }
  .readout__span {
    font-size: 90px;
    line-height: 110%;
    left: -30px;
  }
  .span_first {
    left: -20px;
  }
  .gold__line {
    width: 27px;
    height: 2px;
  }
  .gold__text {
    font-size: 10px;
  }
  .readout__title {
    font-size: 32px;
    line-height: 36px;
  }
  .readout__paragraph {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 27px;
    margin-right: 0px;
  }
  .content__img {
    max-width: 420px;
  }
  .content__images {
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
  }
  .count__amount {
    font-size: 65px;
    line-height: 85px;
  }
  .count__gold {
    font-size: 10px;
    line-height: 18px;
  }
  .explore {
    gap: 10px;
  }
  .explore_img {
    max-width: 550px;
  }
  .foo_logo {
    justify-content: space-between;
  }
}
@media screen and (max-width: 822px) {
  .container {
    max-width: 860px;
  }
  .adventure {
    padding: 0;
  }
  .adventure__wrap {
    z-index: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .adventure__logo {
    justify-content: center;
  }
  .adventure__presentation {
    margin-bottom: 50px;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .presentation__title {
    font-size: 55px;
    line-height: 65px;
  }
  .content {
    margin-bottom: 50px;
  }
  .content_readout2 .content__img {
    order: 2;
  }
  .content_readout {
    display: flex;
    gap: 20px;
    flex-direction: column;
  }
  .readout__span {
    font-size: 90px;
    line-height: 110%;
  }
  .gold__line {
    width: 27px;
    height: 2px;
  }
  .gold__text {
    font-size: 10px;
  }
  .readout__title {
    font-size: 32px;
    line-height: 36px;
  }
  .content__img {
    max-width: 420px;
  }
  .content__images {
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
  }
  .count__wrap {
    gap: 50px;
  }
  .explore_img {
    max-width: 430px;
  }
  .foo_logo {
    justify-content: space-between;
  }
}
@media screen and (max-width: 720px) {
  .count__wrap::before {
    top: 300px;
  }
  .count__wrap {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .count__amount {
    font-size: 85px;
  }
  .explore__wrap {
    gap: 50px;
  }
  .explore {
    flex-direction: column;
    gap: 25px;
    align-items: center;
    justify-content: center;
  }
  .explore__info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 550px) {
  .btn__group {
    gap: 15px;
  }
}
@media screen and (max-width: 360px) {
  .count__wrap::before {
    top: 430px;
  }
  .count__amount {
    font-size: 100px;
  }
}/*# sourceMappingURL=style.css.map */