*{
  margin: 0;
  padding: 0;
}
.container{
max-width: 1000px;
height: 500px;
margin: 0 auto;

}
.jedi{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin: 0 auto;
  padding-top: 50px;
}
.fond{
  top: 50%;
  left: 50%;
  position: absolute;
  width: 200px;
  height: 200px;
  transform: translate(-50%, -50%);
  background: url(./milky-way-2695569__480.jpg) center center /cover no-repeat;
}
.sword{
  display: block;
  position: absolute;
  top: 15px;
  left: 50px;
  width: 100px;
  height: 10px;
    border-radius: 20px;
    background: linear-gradient( 90deg, white 10%, black 5%, white 30%);
  animation:  swords1 0.5s infinite ease-out;
  animation-play-state: paused;
  }
.sword2,
.sword3{ 
  top: 65px;
 }
 .sword1{
  animation-name:  swords1;
 }
 .sword2{
  background: linear-gradient( 270deg, white 10%, black 5%, white 30%);
  animation-name:  swords2;
  }
.sword3{
  animation-name:  swords3 ;
}

.sword4{
top: 120px;
animation: swords4;
}
.arrow{
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
}

/* @keyframes sword1{
  to{
    transform:perspective(180deg);
  }
} */
@keyframes sword2{
  to{
    transform:  rotate(34deg);
  }
}
@keyframes sword3{
  to{
    transform:  rotate(329deg);
  }
}
/* @keyframes sword4{
  to{
    transform:perspective(180deg);
  }
} */

/* @keyframes myfirst {
  0%   {background: red; left: 0px; top: 0px;}
  25%  {background: yellow; left: 200px; top: 0px;}
  50%  {background: blue; left: 200px; top: 200px;}
  75%  {background: green; left: 0px; top: 200px;}
  100% {background: red; left: 0px; top: 0px;}
} */
/* .fond:hover > .sword2{
  transform:  rotate(34deg);
}
.fond:hover > .sword3{
  transform:  rotate(329deg);
}
.fond:hover > .sword1{
  display: none;
}
.fond:hover > .sword4{
  display: none;
} */