@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap');
@font-face {
    font-family: "Product Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    src: local('Product Sans'),
    url("../fonts/product-sans/Product\ Sans\ Bold.ttf")
}
:root{
    --index: calc(1vw+1vh);
}
*{
    margin: 0 ;
    padding:  0 ;
    box-sizing: border-box;
}
a{
    cursor: pointer;
    text-decoration: none;
    color:inherit;
}
button{
    cursor: pointer;
    border: none;
    background: inherit;
}
li{
    list-style: none;
}
main{
    margin: 0;
    padding: 0;
    
}
.container {
    max-width: 1100px;
    display: flex;
    margin: 0 auto;
    padding: 0 15px;
    position: relative;
}
.presentation{
   display: flex;
   align-items: center;
   justify-items: flex-start;
   position: relative;
   background:  #F4F6F9;
}
.presentation-content{
    display: flex;
   
    align-items: center;
    justify-content:space-between;
    flex-basis: 100%;
    margin-top: calc(var(--index) * 8);
    margin-bottom: calc(var(--index) * 17);
    /* margin-left: -23px; */
    z-index: 1;
}
.img-btn{
   display: flex;
   background: url(../image/Frame\ \(1\).svg);
}

.logo {
    display: flex;
    width: fit-content;
    height: fit-content;
    font-family: 'Product Sans';
    font-size: 1.5rem;
    line-height: 1.8125rem;
    
    align-items: center;
    justify-items: flex-start;
    letter-spacing: -0.02em;
    
    color: #5282F0;
}
.logo img{
    width: 100%;
    margin-right: 4px;
    padding: 0;
}
.logo a{
    width: 100%;
   font-weight: 900;
    
}
.get{
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    z-index: 1;
    padding: 0;
    
    
}
.title{
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: flex-start;
   
    text-align: start; 
    margin-left: 0;
    padding: 0;
    width: 55%;
}
.title h1{
    display: flex;
    
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    line-height: 3rem;
    
    align-items: flex-end;
    letter-spacing: 0.03em;
    text-align: start;
    margin-left: 0;
    color: #333333;
    padding: 0;
}
.title-paragraph{
    display: flex;
    
    align-items: flex-end;
    
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.625rem;
    color: #4F4F4F;
    padding: 0;
    margin-left: 0;
}
.tel-frame{
    display: flex;
    position: absolute;
    width: 993px;
    height: 668px;
    left: 220px;
    top: 0px;
    background: url(../image/Frame\ \(1\).svg) center center / cover no-repeat;
    z-index: 0;
}
.btn-app{
    display: flex;
    align-items: center;
    justify-content: space-around;
    
    margin-right:calc(var(--index)*10);
}
.store-btn1{
    display: flex;
    flex-basis: 47.5%;
    max-height: fit-content;
    gap: 10px;
    background: #000000;
    border-radius: 7.33503px;
   
    color: #FFFFFF;
    padding: 4px 2px 2px 12px;
}
.store-btn1:hover{
    transform: translateY(-10px);
    transition: transform 0.2s ease-in-out;
}
.store-btn svg{
    width: 26px;
    height: 31px;
}

.download{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 0.625rem;
    line-height: 0.75rem;
    
    display: flex;
    align-items: flex-end;
    
}
.store-app{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 1.625rem;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: flex-end;
}
.store-btn2{
    display: flex;
    flex-basis: 47.5%;
    max-height: fit-content;
    gap: 10px;
    background: #000000;
    border-radius: 7.33503px;
    
    color: #FFFFFF;
    padding: 6px 2px 5px 11px;
}
.store-btn2 svg{
    width: 28px;
    height: 31px;
    margin: 0;
    padding: 0;
}
.download2{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 0.688rem;
    line-height: 0.813rem;

    display: flex;
    align-items: flex-end;

    color: #FFFFFF;
}
.store-btn-text{
    display: flex;
    flex-wrap: wrap;
}
.store-google2{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 1.1rem;
    line-height: 1.313rem;
    display: flex;
    align-items: flex-end;
    
    color: #FFFFFF;
    margin-right: 5px;
}
.play{
    font-family: 'Roboto';
font-style: normal;
font-weight: 300;
font-size: 1.1rem;
line-height: 1.313rem;
display: flex;
align-items: flex-end;

color: #FFFFFF;
}
.experience {
    display: flex;
    margin: 0 auto;
    
    background-image: url(../image/Ronaldo.svg);
    background-position-x: left;
    background-position-y: center;
    background-size: cover;
    background-repeat-x: no-repeat;
    background-repeat-y: no-repeat;
    background-attachment: initial;
    background-origin: initial;
    background-clip: inherit;
    
}
.image-video{
    display: flex;
    flex-direction: column;
    flex-basis: 57%;
    max-width: 56%;
    gap: 5px;
    position: relative;
    /* margin-right: calc(var(--index)*1.8); */
    
    padding: calc(var(--index)*1) calc(var(--index)*3) calc(var(--index)*7) calc(var(--index)*18);
    background: linear-gradient(270deg, #FFFFFF 5.16%, rgba(255, 255, 255, 0) 67.14%), rgba(255, 255, 255, 0.5);;
}

.experience-text{
    
    display: flex;
    flex-basis: 50%;
    flex-direction: column;
    gap: 27px;
    padding-top: calc(var(--index)*7);
    background: #FFFFFF;
}
.match{
    display: flex;
    flex-direction: column;
    z-index: 1;
    margin-top: 37px;
    margin-bottom: -30px;
    max-width: 360px;
    max-height: 218px;
    width: 100%;
}
.schedule{
    display: flex;
    padding: 27px 16px;
    box-shadow: -22.0416px 23.8785px 48.9814px rgba(0, 0, 0, 0.5);
    border-radius: 4px 4px 0 0;
    font-family: 'Lato';
    font-style: normal;
    background: #FFFFFF;
    align-items: center;
    justify-content: flex-start;
    text-align: start;
    color: #000000;
    position: relative;
    max-width: 100%;
}
.about{
    margin-right: calc(var(--index)*2);
}
.about span:nth-of-type(1){
    display: flex;
    align-self: flex-start;
    text-align: start;
    font-weight: 700;
    font-size: 1.063rem;
    line-height: 1.375rem;

    color: #4F4F4F;
}
.about span:nth-of-type(2){
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 24px;

}
.about span:nth-of-type(3){
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.313rem;
    align-self: flex-start;

}
.match-img{
    display: flex;
    flex-basis: 48%;
    width: 100%;
    position: relative;
}
.arsenal{
    z-index: 0;
    max-width: 50%;
}
.chelsea{
    position: absolute;
    left: 62px;
    z-index: 1;
    max-width: 57%;
}
.about{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    flex-basis: 41%;
    text-align: start;
    align-items: center;
    justify-content: space-between;
    max-width: 123px;
    gap: 12px;
}
.turn{
    display: flex;
    padding: 5px 5px;
    background: #EEEEEE;
    border-radius: 0px 0px 4px 4px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 1.18rem;
    line-height: 1.563rem;
   
    max-width: 100%;
    color: #4F4F4F;
}
.turn label{
    margin-right: 25px;
}
input[type=range]  {
    width: 27px;
    height: 12px;
    background: #979797;
border-radius: 104.896px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    align-self: center;
    display: flex;
  }
  input[type=range]::-webkit-slider-thumb {
    background: #ffffff;
    /* border: 1px solid cyan; */
    border-radius: 50%;
    cursor: pointer;
    width: 20px;
    height: 20px;
    -webkit-appearance: none;
    margin-top: -4px;
    background: #FFFFFF;
box-shadow: 0px 2.09791px 2.09791px rgba(0, 0, 0, 0.25);
  }
  .video-img{
    margin-left: 40px;
    max-width: 360px;
    max-height: 218;
    width: 100%;
    
    border-radius: 4px;
  }
  .video-img img{
    width:100%;
  }

  .link-text{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;

    color: #00ADEE;
    align-self: flex-start;
  }
  .text-head{
    text-align: start;
    align-self: flex-start;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 37px;

    color: #333333;
  }
  .text-paragraph{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    max-width: 480px;
    width: 100%;
    

    color: #4F4F4F;
  }
  .learn-more{
    align-self: flex-start;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    
    color: #00ADEE;
    margin-bottom: 10px;
  }
  .circle-text{
    display: flex;
  }
.circle-text{
    display: flex;
   align-items: center;
   justify-items: flex-start;
   position: relative;
   padding-top: 50px;
    padding-bottom: 100px;
    overflow: hidden;
}

.circle-info{
    flex-basis: 48%;
    margin-right: 125px;
}
.circle-img-tel{
    max-width: 254px;
    max-height: 513px;
    width: 100%;
    flex-basis: 50%;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    display: contents;
}
.circle-img-tel img{
    width: 100%;
    height: 100%;
}
.tel-img{
    position: relative;
    z-index: 1;
    margin-left: -30px;
    margin-top: 30px;
}

.circle-img{
    display: flex;
    flex-direction: column;
    border-radius: 50%;
    background: #ffffff;
    box-shadow: 0px 2.51034px 6.27586px rgba(51, 51, 51, 0.1), 0px 3.13793px 15.6897px rgba(0, 0, 0, 0.25);
    width: 91px;
    height: 91px;
    
    z-index: 1;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 60px;
    left: 23px;
}
.circle-mobile{
    display: flex;
    flex-direction: column;
    border-radius: 50%;
    background: #ffffff;
    box-shadow: 0px 2.51034px 6.27586px rgba(51, 51, 51, 0.1), 0px 3.13793px 15.6897px rgba(0, 0, 0, 0.25);
    width: 91px;
    height: 91px;
    z-index: 1;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 385px;
    left: 270px;

}
.circle-mobile img{
    width: 28px;
    height: 36px;
}
.little-circle{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
        width: 30px;
    height: 30px;
    left: -76px;
    top:412px;
    border-radius: 50%;
    background: #FFFFFF;
    box-shadow: 0px 2.51034px 6.27586px rgba(51, 51, 51, 0.1), 0px 3.13793px 15.6897px rgba(0, 0, 0, 0.25);
    transform: matrix(-1, 0, 0, 1, 0, 0);
}
.point{
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: #00ADEE;
}
.number{
    display: flex;
    width: 22px;
    height: 22px;
    background: #00ADEE;
    border: 1.25517px solid #00ADEE;
    color: #ffffff;
    align-content: center;
    justify-content: center;
    border-radius: 50%;
    margin-bottom: -15px;
    margin-left: 20px;
    z-index: 1;
}
.circle{
    position: absolute;
    border-radius: 50%;
    border: 1px solid #00ADEE;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    opacity: 0.15;
}
.circle1{
   
    width: 2000px;
    height: 2000px;
    position: absolute;
    left: 35px;
    top: -646px;
    
}
.circle2{
    
    width: 1800px;
    height: 1800px;
    
    left: 135px;
    top: -546px;
}
.circle3{
    width: 1600px;
    height: 1600px;
    left: 235px;
    top: -446px;
    
    
}
.circle4{
    width: 1400px;
height: 1400px;
left: 335px;
top: -346px;


}
.circle5{
    width: 1200px;
    height: 1200px;
    left: 435px;
    top: -246px;
    
}
.circle6{
    width: 1000px;
    height: 1000px;
    left: 535px;
    top: -146px;

    
}
.circle7{
    width: 800px;
    height: 800px;
    left: 635px;
    top: -46px;

   
}
.circle8{
    width: 600px;
    height: 600px;
    left: 735px;
    top: 54px;
    border: 1px dashed #00ADEE;
    opacity: 0.75;
    border: 2px dashed #00ADEE;  
   
}
.circle9{
    width: 400px;
    height: 400px;
    left: 835px;
    top: 154px;
     border: 2px dashed #00ADEE;  
   opacity: 1;
}
.info{
    background: #00ADEE;
}
.info-column{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 6%;
}
.info-column h2{
    display: flex;
    align-self: center;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 37px;
    color: #FFFFFF;
    margin-bottom: 6%;
}
.info-content{
    display: flex;
    flex-wrap: wrap;
    row-gap: 3rem;
    column-gap: 5%;
    margin-bottom: 6%;
}
.content-block{
    display: flex;
    flex-direction: column;
    flex-basis: 30%;
    width: 100%;
    color: #FFFFFF;
    gap: 1rem;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    color: #FFFFFF;
}
.img-svg{
    display: flex;
    align-items: flex-start;
}
.slider{
    display: flex;
    flex-direction: column;
    padding-top: 5%;
    padding-bottom: 5%;
}
.slider h2{
    display: flex;
    align-self: center;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 37px;
    padding-bottom: 5%;
    color: #333333;
}
.slider-child.slider-child {
    display: flex;
    /* flex-basis: 20%; */
}
.slider-content{
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    border: 1px solid #828282;
    border-radius: 4px;
    padding: 5%;
    margin-left: 14%;
    
    max-width: 309px;
    
}
.slider-content:nth-child(2){
    padding-bottom: 50px;
}
.slider-img {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-right: 20px;
    margin-bottom: 5%;
}
.slider-content p{
    font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 18px;

color: #4F4F4F;
padding-bottom: 5%;
}
.slider-content p:nth-of-type(2){
    padding-bottom: 25%;
}
.slider-img img{
    margin-right: 7%;
}
.slider-img span{
font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 1rem;
line-height: 1.01rem;
margin-right: 35px;
color: #333333;
}
@media screen and (max-width:720px){
    .container{
        width: 700px;
        margin: 0 auto;
        padding: 0 ;
    }

    .presentation-content{
        flex-basis: 100%; 
        margin: 34px 0 0 0;
    }
   
     .get{
        
        align-items: center;
        justify-content: center;
     }
     .logo{
        text-align: center;
        margin-bottom: calc(var(--index)*4);
     }
     .title{
        width: 100%;
        text-align: center;
     }
     .title h1{
        text-align: center;
        font-size: 1.875rem;
        line-height: 2.5rem;
     }
     .title-paragraph{
        align-items: center;
        text-align: center;
        justify-content: center;
        font-size: 1rem;
        line-height: 1.438rem;
     }
     .btn-app{
        margin: 0;
        gap: 28px;
        justify-content: space-between;
     }
     .store-btn2{
        flex-basis: 50%;
        padding: 5px 3px 5px 6px;
     }
     .store-btn1{
        flex-basis: 50%;
    padding: 3px 3px 3px 5px;
     }
    .tel-frame{
        display: none;
    }
    .experience{
        flex-direction: column-reverse;
    }
    .experience-text{
        order:1;
       align-items: center;
       justify-content: center;
       text-align: center;
       
    }
     .text-head{
        align-self: center;
     }
    .link-text{
        align-self: center;
        text-align: center;
    }
    .learn-more{
        align-self: center;
    }
    .image-video{
        margin: 0 auto;
        max-width: 720px;
        background: linear-gradient(180deg, #FFFFFF 5.16%, rgba(255, 255, 255, 0) 67.14%), rgba(255, 255, 255, 0.5);
        
        width: 100%;
        flex-basis: 100%;
        
    }

    .match{
    max-width: 247.21px;
    max-height: 149.58px;
    width:100%;
    }
    .schedule {
        padding: 24px 10px;
        max-width: 100%;
    }
    .arsenal{
        left: 47px;
    
        max-width: 60%;
    }
    .turn{
        max-width: 100%;
        font-size: 0.813rem;
        line-height: 1.063rem;
        padding-left: 5px;
    }
    .turn label {
        margin-right: calc(var(--index)*4);
    }
    .match-img{
        width: 75%;
    }
    
    .about span:nth-of-type(1){
        font-size: 0.688rem;
        line-height: 0.938rem;
    
    }
    .about span:nth-of-type(2){
        font-size: 0.75rem;
        line-height: 1rem;
        align-self: flex-start;
    }
    .about span:nth-of-type(3){
        
        font-size: 0.686rem;
        line-height: 0.875rem;
    
    }
    .video-img{
        width: 100%;
        max-width: 247.21px;
        max-height: 149.58px;
    }
    .circle-text .container{
        flex-direction: column-reverse;
    }
    .circle1,
    .circle2,
    .circle3,
    .circle4,
    .circle5,
    .circle6{
        display: none;
    }
    .circle7{
        width: 631px;
        height: 631px;

        left: 0;
        top: 400px;
    }
    .circle8{
        width: 473px;
        height: 473px;
        left: 80px;
        top: 440px;
    }
    .circle9{
        width: 315px;
        height: 315px;
        left: 160px;
        top: 520px;
    }
    .circle-info{
        flex-basis: 100%;
        margin-bottom: 5%;
        margin-right: 0;
    }
   
    .circle-img{
        width: 71px;
        height: 71px;
       
        left: 195px;
    }
   
    .little-circle{
        display: none;
    }
    .tel-img{
        display: flex;
        align-items: center;
        justify-content: center;

        margin-left: 0;
    }
    .circle-img-tel{
        display: flex;
        margin-left: -15%;
        align-self: center;
        max-width: 200px;
        max-height: 411px;
        padding-top: 7%;
    }
    .circle-img-tel img{
        width: 120%;
       
    }
    .circle-mobile{ 
        width: 71px;
        height: 71px;
        top: 288px;
        left: 381px;
    }
    .info{
        background: #ffffff;
    }
  
    .info-column h2{
      text-align: center;
        color: #333333;
       
    }
  .info-content{
    row-gap: 2rem;
  }
    .content-block{
         flex-basis: 100%;
        width: 100%; 
        color: #4F4F4F;
        text-align: center;
        align-self: center;        
}
.content-block svg{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.img-svg{
    display: flex;
    align-content: center;
    text-align: center;
    justify-content: center;
    fill: #00ADEE;
    margin: 0 auto;
}
}
@media screen and (max-width:360px){
    .container{
        width: 320px;
        margin: 0 auto;
        padding: 0 ;
    }
    .main{
        max-width: 360px;
        width: 100%;
    }
    .presentation-content{
        flex-basis: 100%; 
        margin: 34px 0 0 0;
    }
   
     .get{
        
        align-items: center;
        justify-content: center;
     }
     .logo{
        text-align: center;
        margin-bottom: calc(var(--index)*4);
     }
     .title{
        width: 100%;
        text-align: center;
     }
     .title h1{
        text-align: center;
        font-size: 1.875rem;
        line-height: 2.5rem;
     }
     .title-paragraph{
        align-items: center;
        text-align: center;
        justify-content: center;
        font-size: 1rem;
        line-height: 1.438rem;
     }
     .btn-app{
        margin: 0;
        gap: 28px;
        justify-content: space-between;
     }
     .store-btn2{
        flex-basis: 50%;
        padding: 5px 3px 5px 6px;
     }
     .store-btn1{
        flex-basis: 50%;
    padding: 3px 3px 3px 5px;
     }
    .tel-frame{
        display: none;
    }
    .experience{
        flex-direction: column-reverse;
    }
    .experience{
        flex-direction: column-reverse;
        background-size: cover;
        background-position-x:center;
        gap:0;
    }
    .experience-text{
       align-items: center;
       justify-content: center;
       text-align: center;
       
    }
    .link-text{
        align-self: center;
        text-align: center;
    }
    .learn-more{
        align-self: center;
    }
    .image-video{
        margin: 0 auto;
        max-width: 360px;
        background: linear-gradient(180deg, #FFFFFF 5.16%, rgba(255, 255, 255, 0) 67.14%), rgba(255, 255, 255, 0.5);
        padding: 0;
        width: 100%;
        flex-basis: 100%;
        padding: 10px 15px;
        
    }

 .match{
    max-width: 247.21px;
    max-height: 149.58px;
    width:100%;
 }
    .schedule {
        padding: 24px 10px;
        max-width: 100%;
    }
    .arsenal{
        left: 47px;
    
        max-width: 60%;
    }
    .turn{
        max-width: 100%;
        font-size: 0.813rem;
        line-height: 1.063rem;
        padding-left: 5px;
    }
    .turn label {
        margin-right: calc(var(--index)*4);
    }
    .match-img{
        width: 75%;
    }
    
    .about span:nth-of-type(1){
        font-size: 0.688rem;
        line-height: 0.938rem;
    
    }
    .about span:nth-of-type(2){
        font-size: 0.75rem;
        line-height: 1rem;
        align-self: flex-start;
    }
    .about span:nth-of-type(3){
        
        font-size: 0.686rem;
        line-height: 0.875rem;
    
    }
    .video-img{
        width: 100%;
        max-width: 247.21px;
        max-height: 149.58px;
    }
    .circle-text .container{
        flex-direction: column-reverse;
    }
    .circle1,
    .circle2,
    .circle3,
    .circle4,
    .circle5,
    .circle6{
        display: none;
    }
    .circle7{
        width: 631px;
        height: 631px;

        left: -122px;
        top: 450px;
    }
    .circle8{
        width: 473px;
        height: 473px;
        left: -37px;
        top: 495px;
    }
    .circle9{
        width: 315px;
        height: 315px;
        left: 38px;
        top: 550px;
    }
    .circle-info{
        flex-basis: 100%;
        margin-bottom: 5%;
        margin-right: 0;
    }
   
    .circle-img{
        width: 71px;
        height: 71px;
        left: 55px;
        top: 40px;
    }
   
    .little-circle{
        display: none;
    }
    .tel-img{
        display: flex;
        align-items: center;
        justify-content: center;

        margin-left: 0;
    }
    .circle-img-tel{
        display: flex;
        margin-left: 5%;
        align-self: center;
        max-width: 200px;
        max-height: 411px;
        padding-top: 7%;
    }
    .circle-img-tel img{
        width: 150%;
       
    }
    .circle-mobile{ 
        width: 71px;
        height: 71px;
        top: 288px;
        left: 230px;
    }
    .info{
        background: #ffffff;
    }
  
    .info-column h2{
      text-align: center;
        color: #333333;
       
    }
  .info-content{
    row-gap: 2rem;
  }
    .content-block{
         flex-basis: 100%;
        width: 100%; 
        color: #4F4F4F;
        text-align: center;
        align-self: center;        
}
.content-block svg{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.img-svg{
    display: flex;
    align-content: center;
    text-align: center;
    justify-content: center;
    fill: #00ADEE;
    margin: 0 auto;
}
}
