@font-face {
    font-family: 'Helvetica Neue';
    font-style: normal;
   
    font-size: 17px;
    src: url(../font/font/HelveticaNeueCyr-Black.woff2);
    
}
@font-face {
    font-family: 'Helvetica Neue';
    font-style: normal;
   
    font-size: 17px;
    src: url(../font/font/HelveticaNeue.ttf);
    
}
.container,
.container-fluid{
    max-width: 945px;
}
body{
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-size: 17px;
    background: #FAFAFA;
    color: #262626;
}
b {
    font-weight: 600;
    
}
.nav-bar::before{
    content: '';
    position: absolute;
    top: 60px;
    left: 0;
    width: calc(100% + 4px);
    height: 1px;
    background: #DBDBDB;
    transform: matrix(1, 0, 0, -1, 0, 0);
    z-index: 1;
}
.navbar{
    max-width: 945px;
    width: 100%;
    margin-bottom: 29px;
    color: #8F8F8F;
}
.search-input{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
}
.search-input::placeholder{
    color: #8F8F8F;
}
.d-flex{
    position: relative;
}

.d-flex::after{
    content: '';
    position: absolute;
    width: 9px;
    height: 9px;
    background: url(../images/search.svg);
    z-index: 1;
    top: 14px;
    left: 53px;
}
.search-form::before {
    content: '';
    position: absolute;
    width: 9px;
    height: 9px;
    background: url(../images/search.svg);
    z-index: 2;
    top: 14px;
    left: 53px;
    display: block;
}

.search-input:focus > .d-flex::before{
    display: none;
}
.btn-group.btn-group {
    border-radius: 0;
   
    
}
.btn-group > .btn{
    border: none;
    
}

.btn-group.btn-group:hover{
    border: none;
    background: none;
}
.btn-group > .btn:hover {
    border-radius: 0;
    background-color: lightgray;
    
}
.message-btn{
    background: inherit;
}
.badge{
    top: -5px;
}
.btn .badge {
    position: relative;
    top: 10px;
}

.col-md-8{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: start;
    justify-content: flex-start;
    gap: 21px;
}
.menu{
    display: flex;
    
}
.text-center-name{
    width: fit-content;
    font-weight: 500;
    font-size: 26px;
    line-height: 32px;
    display: flex;
    align-items: center;
    text-align: center;
    margin-right: 25px;
}

.btn-follow{
    padding:5px 26px 6px 26px;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    margin-right: 8px;
    width: 97px;
    height: 29px;
}
.dropdown-toggle{
    width: 33px;
    height: 29px;
    border-radius: 3px;
    margin-right: 16px;
}
.point-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    width: 33px;
    height: 29px;
}
.btn-point{
    position: relative;
    width: 4px;
    height: 4px;
    background-color:#262626;
    border-radius: 50%;
}
.btn-point:before{
    content: '';
    position: absolute;
    left: calc(50% + 5px);
    width: 4px;
    height: 4px;
    background-color:#262626;
    border-radius: 50%;
}
.btn-point:after{
    content: '';
    position: absolute;
    left: calc(50% - 10px);
    width: 4px;
    height: 4px;
    background-color:#262626;
    border-radius: 50%;
}
.followers{
    display: flex;
    gap: 35px;
}
.followers-text{
    font-weight: 500;
    line-height: 21px;
    display: flex;
    align-items: center;
    display: flex;
    gap: 3px;
}
.about-profile{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1px;
    max-width: 531px;
    width: 100%;
    margin-bottom: 56px;
}
.about-profile span{
   font-weight: 500;
    line-height: 21px;
}
.about-profile-paragraph{
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 25px;
    margin-bottom: 0rem;
    width: 100%;
}

.story-block{
    position: relative;
    margin-bottom: 60px;
}
.story-photo{
    border: 1px solid #DBDBDB;
    border-radius: 50%;
    padding: 4px;
}
.story-block::after{
    content: '';
    width: calc(100% + 4px);
    height: 1px;
    background: #DBDBDB;
    transform: matrix(1, 0, 0, -1, 0, 0);
    top: 153px;
    position: absolute;
}
.post-block{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 19px;
    padding-bottom: 19px;
}
.post{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    position: relative;
}
.text{
    font-weight: 700;
    font-size: 12px;
    line-height: 15px; 
    display: flex;
    align-items: center;
    letter-spacing: 0.09em;
    color: #8F8F8F;
}
.post:hover{
    transition: .75s ease;
}
.post::before{
    content: '';
	  position: absolute;
    top: -13px;
    width: 0;
    height: 1px;
    background-color:  #262626;
   
  }
.post:hover::before{  
    transition: ease-in-out .75s;
    width: 100%;
    height: 1px;
    transform: scale(1.1);
    color:  #262626;
    /* margin-left: 15px; */
  }
.post:hover > .text{
    
    color: #262626;
}
.post:hover > svg path{
    fill: #262626;
    }
