@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap');


$color-btn: #111B47;
$color-text:  #091133;
$basic-color: #6F7CB2;
$color-logo: #37447E;
$universal-color: #ffffff;

$font-size-title-big: 50px;
$font-size-title-little: 36px;
$font-size-p-big: 18px;
$font-size-p-card: 16px;
$font-size-little: 14px;
$line-height-big: 66px;
$line-height-little: 48px;
$line-height-p-big: 30px;
$line-height-p-card: 26px;


@mixin btn-hover {
    background: #FFFFFF;
    border: 2px solid #091133;
    border-radius: 2px;
    color: $color-text;
}
@mixin position-block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.container{
   max-width: 1110px;
   

}
body{
    font-family: 'Roboto';
    font-style: normal;
}


.main-page{
    background:  $universal-color;
    background-image: url('../image/designer_1.png');
    
    background-position:  right top;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    padding-bottom: 368px;
    padding-top: 18px;
   
   
}
.wrapper{
    display: flex;
    width: 100%;
}
.navbar{
    margin-bottom: 261px;
}
.navbar-nav{
    gap: 60px;
       
}
.nav-link {
    color: $basic-color;
   
}
.logo{
     font-weight: 900;
     font-size: $line-height-p-card;
     line-height: 38px;
     color: $color-logo;
     text-decoration: none;
}
.buy{
    width: 100%;
    max-width: 160px;
    border-radius: 2px;
    background: $color-btn;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: $universal-color;
    padding-top: 4px;
    padding-bottom: 4px;
    align-items: center;
}
.buy:hover {
    @include btn-hover;
    
}
.introduce-block{
    @include position-block;
    width: 100%;
    max-width: 539px;
   display: flex;
   flex-direction: column;
}
.introduce-block{
    h1{
        text-align: start;
        font-weight: 500;
        font-size: $font-size-title-big;
        line-height: $line-height-big;
        letter-spacing: 1px;
        color: $color-text;
        margin-bottom: 20px;
        width: 100%;
    }
    p{
        font-weight: 400;
        font-size: $font-size-p-big;
        line-height: $line-height-p-big;
        width: 100%;
        margin-bottom: 69px;
        color:  #505F98;
    }
}
.btn-block{
    display: flex;
    gap: 30px;
    width: 100%;
}
.btn-sm{
    width: 100%;
    max-width: 189px;
    padding-top: 5px;
    padding-bottom: 5px;
    background: $color-btn;
    color: $universal-color;
    
}
.btn-sm:hover{
    @include btn-hover;
}
.mobile-section-block{
    display: flex;
    padding-top: 109px;
    padding-bottom: 108px;
}
.text-block{
    display: flex;
    flex-direction: column;
    max-width: 540px;
    width: 100%;
    align-items: flex-start;
    justify-content: flex-start;
   padding-top: 51px;
}
.text-block {
    h2{
        font-weight: 500;
        font-size: $font-size-title-little;
        line-height: $line-height-little;
        text-align: start;
        width: 100%;
        color: $color-text;
        margin-bottom: 16px;
    }
    p{
        font-weight: 400;
        font-size: $font-size-p-card;
        line-height: $line-height-p-card;
        color: $basic-color; 
        width: 100%;
        margin-bottom: 80px;
    }
}
.wrap-mini-block{
     display: flex;
     gap: 30px;
}
.mini-block{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    max-width: 255px;
}
.mini-block{
    svg{
        margin-bottom: 16px;
    }
    h3{
        font-weight: 500;
        font-size: 1rem;
        line-height: $line-height-p-card;
        color: $color-text;
        margin-bottom: 6px;
    }
    p{
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        color: #5D6970;
    }
}
.mobile-img{
    display: flex;
    width: 100%;
    max-width: 540px;
}
.mobile-img img{
    width: 100%;
    max-width: 540px;
}


.wrap-card-block{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 123px;
    
    
}
.card-container{
    display: flex;
    width: 100%;
    margin-bottom: 220px;
    gap: 125px;
}
.img-card{
    display: flex;
    width: 100%;
    max-width: 540px;
    padding: 0;
}
.img-card img{
    width: 100%;
}
.card-text{
    display: flex;
    flex-direction: column;
    text-align: start;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    max-width: 445px;
}
.card-text {
      h2{
        text-align: start;
        font-weight: 500;
        font-size: $font-size-title-little;
        line-height: $line-height-little;
        color: $color-text;
        margin-bottom: 16px;
      }
      p{
        font-weight: 400;
        font-size: $font-size-p-card;
        line-height: $line-height-p-card;
        text-align: start;
        color: $basic-color;
        margin-bottom: 40px;
      }
}
.card-btn{
    max-width: 150px;
    font-weight: 500;
    font-size: $font-size-little;
    line-height: 24px;
}

.fantasy-border{
    display: flex; 
    position: relative;
    top:-60px;
    z-index: 1;
    width: 100%;
    border-radius: 38% 38% 51% 49% / 0% 0% 34% 40%;
    height: 150px;
    background: $universal-color;
}
.price-section{
    position: relative;
    background: #f2f5ff;
    mix-blend-mode: normal;
}
.wrap-text-block{
    display: flex;
   padding-bottom: 172px;
}
.price-text-block{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 600px;
    translate: 43% 0;
}
.price-text-block{
   h2{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-weight: 500;
    font-size: $font-size-title-little;
    line-height: $font-size-title-little;
    text-align: center;
    color: $color-text;
   }
   p{
    text-align: center;
    font-weight: 400;
    font-size: 1rem;
    line-height: $line-height-p-card;
    color: $basic-color;
    margin-bottom: 35px;
   }
}
.price-block{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 189px;
    width: 100%;
    margin-bottom: 60px;
}
.price-wrap{
    display: contents;
    width: 100%;
    padding-left: 125px;
    padding-right: 125px;
}
.price{
    display: flex;
    justify-content: center;
    font-weight: 500;
    font-size: $font-size-title-big;
    line-height: $line-height-big;
    width: 100%;
    text-align: center;
    letter-spacing: 1px;
    color: #222F65;
}
.price-block span:nth-child(2){
    display: flex;
    justify-content: center;
    font-weight: 400;
    font-size: 1rem;
    line-height: $line-height-p-card;
    text-align: center;
 
    color: $color-logo;
}
.block-price-btn{
    display: flex;
    flex-direction: column;
    gap: 13px;
    width: 100%;
    max-width: 189px;
    justify-content: center;
    align-items: center;
}
.block-price-btn{
    span{
        text-align: center;
        font-weight: 400;
        font-size: $font-size-little;
        line-height: 24px;
        text-align: center;
        color: #5D6970;
    }
}
footer{
    background: #E7ECFF;
}
.footer-wrap{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.foo-logo-block{
    display: flex;
    justify-content: space-between;
    padding: 68px 0 40px 0;
    position: relative;
}
.foo-logo-block::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    background: #CDD1D4;
    width: 100%;
}
.copy{
    font-weight: 500;
    font-size: $font-size-little;
    line-height: 24px;
    color: #939EA4;
}
.foo-buy{
    max-width: 109px;
}
.foo-list{
    display: flex;
    justify-content: space-between;
    padding: 40px 0 32px 0;
}
.foo-nav{
    color: #929ECC;
    gap: 60px;
}
.foo-item{
    a{
      padding-left: 0;
    }
}
.group-btn{
    display: flex;
    gap: 30px;
}
// }
@media screen and (max-width:1023px){ 
        .main-page{
          background-size: 50%;
          padding-bottom: 68px;
        }
         .navbar{
   
          margin-bottom: 61px;
        }
        .navbar-nav{
          gap: 30px;
          flex-direction: row;
        }
        .mobile-section-block {
          display: flex;
          padding-top: 20px;
          padding-bottom: 20px;
        }
        .wrap-card-block {
          padding-top: 77px;
        }
        .card-container {
          margin-bottom: 67px;
          gap: 25px;
        }
        .price-text-block {
          translate: 32% 0;
        }
        .foo-logo-block {
          padding: 68px 16px 40px 16px;
          }
        .foo-list {
          padding: 40px 16px 32px 16px;
        }
}

@media screen and (max-width:822px){
    .main-page{
        background-size: 85%;
        padding-bottom: 68px;
        
    }
    .navbar{
            margin-bottom: 61px;
    }
    .navbar-nav{
        gap: 30px;
        flex-direction: row;
        
    }
    .introduce-block {
        max-width: 400px;
    }
    .introduce-block{
        h1{
            font-size: $font-size-title-big*0.8;
            line-height: $line-height-big*0.75;
        }
        p{
            font-size: $font-size-p-big*0.95;
            line-height: $line-height-p-card*0.95;
        }
    }
    .btn-sm {
        max-width: 160px;
    }
    .mobile-section-block {
        display: flex;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .text-block,
    .mobile-img{
        max-width: 400px;
    }
    .text-block{
        h2{
            font-size: $font-size-title-big/2;
            line-height: $line-height-p-big*0.8;
        }
    }
    .price-text-block {
        translate: 20% 0;
    }
   .wrap-card-block {
    gap: 15px;
   }
   .img-card{
    max-width: 400px;
   }
   .card-text{
    max-width: 400px;
   }
}

@media screen and (max-width:720px){
.main-page{
    background-image: none;
}
.introduce-block{
    max-width: 1140px;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.introduce-block{
    h1{
        text-align: center;
    }
    p{
        text-align: center;
    }
    .btn-block{
        justify-content: center;
    }
    
}
     .mobile-section-block{
        flex-direction: column;
}
      .text-block{
        max-width: max-content;
        justify-content: center;
        text-align: center;
          h2{
             text-align: center;
        }
}
      .mobile-section-block{
        max-width: 100%;
        align-items: center;
        justify-content: center;
        text-align: center;
      }
      .wrap-mini-block{
        width: 100%;
        align-items: center;
        justify-content: center;
        gap: 80px;
      }
    .mini-block{
       align-items: center;
       justify-content: center;
    }
    .card-container{
       flex-direction: column;
    }
    .img-card{
       max-width: 100%;
       order: 2;
    }
    .card-text{
       max-width: 100%;
       order: 1;
       justify-content: center;
       align-items: center;
        p{
           justify-content: center;
            align-items: center;
            text-align: center;
         }
}
    .price-text-block{
        max-width: 100%;
        translate: 0 0;
    } 
    .foo-nav{
        gap: 15px;
    }
    .group-btn{
        gap: 15px;
    }

}
@media screen and (max-width:550px){
    .mobile-container{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .navbar{
       flex-direction: column;
    }
    .navbar-nav{
       order: 1;
    }
    .logo{
        display: flex;
    order: 1;
   }
   .buy{
    order: 2;
    }
.wrap-mini-block {
    gap: 25px;
}
.foo-logo-block{
    flex-direction: column;
    gap: 25px;
    justify-content: center;
    align-items: center;
}
.foo-buy{
    order: 2;
}
.copy{
    order: 3;
}
.foo-list{
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
}

@media screen and (max-width:360px){
    .introduce-block h1 {
        font-size: $font-size-title-big/2;
        line-height: 36px;
    }
    .card-text h2 {
        text-align: center;
        font-size: $font-size-title-little*0.75;
        line-height: $line-height-p-card;
    }
    .price-text-block h2 {
        font-size: $font-size-title-little*0.75;
        line-height: $line-height-p-big;

    }

}