@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&family=Raleway:ital@0;1&family=Roboto&display=swap');

*{
    font-family: "Lato", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --index: calc(1vw+1vh);
    --margin: calc(var(--index)*-1.5);
}
a {
    text-decoration: none;
    cursor: pointer;
    color: #101010;
}
button {
    cursor: pointer;
}
ul {
    list-style: none;
}
body {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    background: #FFFFFF;
}
.container{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    background: #FFFFFF;
    max-width: 1440px;
}
.main-contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.layers {
    display: flex;
    flex-direction: row;
    background: #ED4C5C;
    width: 100%;
    align-items: center;
    justify-content: center;
    
    }

    .layers_text{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: relative;
        margin-top: var(--margin);
        flex-grow: 1;
        justify-content: space-around;
        height: auto;
        padding: calc(var(--index)*5.1);
        color: #ffffff;
    }

.contact_title,
.layer_title h1 {
    display: flex;
    align-items: center;
    margin: 24px;
    font-weight: 600;
    font-size: 36px;
    line-height: 43px;
}

.layer-paragraph,
 .contact_paragraph {
    font-size: 14px;
    font-weight: 400;
    line-height: 140%;
    text-align: justify;
    display: flex;
    padding: 30px;
}

.layer_icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap:calc(var(--index)*2);
    margin: 25px;
}
.layer_icon img {
    max-width: 32px;
    max-height: 32px;
}
.layer-img {
    width: 100%;
    height: 100%;
    flex-grow: 1;
}
.layer-img img{
    height: 100% ;
    max-width: 100%;
}
.contact-form {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    width: 100%;
    height: 100%;
    padding: calc(var(--index)*6);
}
.contact_text{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100%;
    color: #000000;
    }
.main-form {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
    flex-grow: 1;
    height: auto;
    gap: calc(var(--index)*1.8);
    width: 100%;
    }

.registration-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    gap: calc(var(--index)*1.2);
}
.name {
    display: flex;
    flex-grow: 1;
    gap: calc(var(--index)*1.2);
}
.phone-number-container,
.select-service-form {

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    gap: calc(var(--index)*2.5);
    height: 100%;
}

#first-name,
#last-name,
#phone-number,
.select-service-form {
    position: relative;
    height: 3em;             
    line-height: 19px;
    color: rgba(19, 39, 67, 0.5);
    border-radius: 6px;
    border: 1px solid #333333;
    width: 50%;
    padding-left: calc(var(--index)*.75);
    font-size: 16px;
    flex-grow: 1;
}

#first-name:focus,
#last-name:focus,
#phone-number:focus,
.select-service-form:focus {
    background-color: #c8e7e3; 
    transition: .75s ease;
    color: #c43b48;
}
.phone-number-container,
.select-service-form,
.name,
#phone-number {
    width: 100%;
} 
 
.select-service-form {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    line-height: 14px;
    font-size: 16px;
    position: relative;
    color: rgba(19, 39, 67, 0.5);
    cursor: pointer;
    padding: 0;
}

.select-service-form select {
    display: flex;
    width: 100%;
    border: 0;
    color: rgba(19, 39, 67, 0.5);
    -webkit-appearance: none;
    appearance: none;
    padding: .75rem;
}
.select-service-form::after{
    content: "";
    display: flex;
    align-items: center;
    background-image: url(../img/ChevronDown\(E70D\).svg);
    width: 14px;
    height: 14px;
    position: absolute;
    top: 50%;
    transform: translate(0, -24%);
    transition: all .35s;
    right: 30px;
    z-index: 1;
    background-repeat: no-repeat;
}
select:hover {
    color:#FFFFFF;
    transition: .75s ease;
    background-color: #bebbbb;
}

 option{
    font-weight: normal;
    display: block;
    white-space: nowrap;
    min-height: 1.2em;
    padding: 0px 2px 1px;
    color: #ED4C5C;
    background-color:aliceblue;
}
option:hover {
    background-color: #bebbbb;
}
.btn-submit {
    position: relative;
    font-size: 1em;          
    height: 3em;  
    background: #ED4C5C;
    border: 1.5px solid #ED4C5C;
    border-radius: 6px;
    line-height: 17px;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 30%;
    
}
.btn-submit:hover {
    background: #c43b48;
    color: #ded8d8;
    transition: .75s ease;
}
.footer_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background: #FAFAFA;
    width: 100%;
    font-size: 1rem;
    box-sizing: border-box;
}
 .footer_container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin-top: calc(var(--index)*-1); 
    flex-grow: 1;
    padding: calc(var(--index)*4) calc(var(--index)*7) calc(var(--index)*1) calc(var(--index)*7);
}
.copy{
    display: flex;
    align-items: flex-start;
    flex-grow: 2;
    font-size: 0.8rem;
   color: #101010;
   width: 100%;
   padding: calc(var(--index)*4.5) 0 calc(var(--index)*3) calc(var(--index)*7);
}
.footer-address,
.footer_services,
.footer_get,
.footer_support {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    flex-grow: 1;
    color: #101010;
    width: 100%;
    height: auto;
    gap: 30px;
}
.footer_get{
    gap: 15px;
}

.address-title, 
.services-title, 
.get__title, 
.support__title {
    display: flex;
    gap: 30px;
    flex-grow: 1;
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 22px;
    text-align: center;
}
.address-title,
.get__title{
    margin-top: calc(var(--index)*-2);
}
.footer_support{
    margin-top: calc(var(--index)*-4);
}

.address-paragraph,
.get__number,
.get__address,
.get__icon {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-grow: 1;
    font-weight: 400;
    font-size: 0.8rem;
    line-height: 150%;
    width: 100%;
}

.list a{
    line-height: 160%;
    text-transform: capitalize;
    color: #000000;
    font-size: .9rem;
}

.get__icon{
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: flex-start;
    gap: calc(var(--index)*1.4);
}
.btn-icon {
    border: none;
    background: inherit;
}
.support__icon {
    display: flex;
    align-items: center;
    max-width: 50%;
    height: auto;
}
.support__icon img {
    max-width: 100%;
    height: 100%;
}


