@font-face {
    font-family: "Avenir";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    src: local('Avenir'),
    url("../fonts/Avenir-Font/Avenir-Font/AvenirLTStd-Book.otf")
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    font-family: "Avenir", "Helvetica",  sans-serif;
    font-size: 18px;
    font-style: normal;
    
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    
}
.container{
      
    margin: 50px auto;
    position: relative;
    max-width: 1117px;
    background-color: white;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}
ul{
    list-style: none;
}

button{
    cursor: pointer;
    border:none;
}

h2 {
    font-family: 'Helvetica';
    font-weight: 700;
    font-size: 40px;
    line-height: 130%;
}
h3{
    max-width: 220px;
    max-height: 50px;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 130%;

    color: #212353;
}
p {
    font-family: 'Avenir';
    font-style: normal;
    line-height: 160%;
    font-weight: 500;

}
header{
    position: relative;
    width: 100%;
    max-height: 60px;
    display: flex;
    align-items: center;
     justify-content:space-between; 
    font-family: "Avenir";
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    color: #4B5D68;
   
    margin-top: 50px;
}
.logo{
    display: flex;
    align-items: end;
    justify-content: flex-start;
    width: 49px;
    height: 35px;
    padding: 0;
    gap: 9px;
    margin-right: 120px;

}
.logo-nav {
    display: flex;
    align-items: center;
    }

.logo-blue{
    width: 20px;
    height: 20px;
    background: #9C69E2;
    border-radius: 20px;
    
}
.logo-blue:hover{
    width: 22px;
    height: 22px;
    background: #8854d1; 
    transition: .75s ease;
}
.logo-purple:hover{
    width: 22px;
    height: 38px;
    background: #da4ca2;
    transition: .75s ease;
    
}
.logo-purple{
    width: 20px;
    height: 35px;
    background: #F063B8;
    border-radius: 20px;
}

.list {
display: flex;
align-items: center;
color: #4B5D68;
width: 100%;
max-width: 322px;
box-sizing: border-box;
gap: 40px;

}
.list li{
    margin: 0;
    padding: 0;
    width: 100%;
}
.list li:nth-child(1) {
    color:#212353;
    font-weight: 800;
}
.header-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 17px 29px;
    max-width: 210px;
    max-height: 60px;
    background: #FFFFFF;
    box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
    border-radius: 50px;
    border: none;
    position: relative;
    
}
.header-btn a{
    padding-right: 20px;
}
.header-btn::after{
    content: '';
    display: flex;
    align-items: center;
    background-image: url(../img/Group56vector.svg);
    background: content;
    width: 22px;
    height: 16px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    transition: all .35s;
    right: 10px;
    z-index: 1;
    background-repeat: no-repeat;

}
.header-btn:hover{
    background: #e6e5e5;
    box-shadow: 0px 5px 5px rgba(55, 69, 77, 0.1);
    transition: .75s ease;
}
.header-btn img {
    display: flex;
    width: 20px;
    height: 14px;
}

main{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 130px;
}
.headline-img{
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    justify-content: flex-start;
}
.headline{
    display: flex;
    flex-direction: column;
    
    width: 100%;
    max-width: 645px;
    gap: 50px;
    
}
.headline h1 {
    width: 100%;
    font-family: 'Helvetica';
    font-weight: 700;
    font-size: 80px;
    line-height: 110%;
    color: #212353;
}
.headline p {
    color: #4B5D68;
    max-width: 380px;
}
.headline_btn{
    max-width: 170px;
    width: 100%;
    max-height: 60px;
    background: #9C69E2;
    border-radius: 50px;
    border: none;
    color: #FFFFFF;
    padding: 15px 37px;
}
.headline_btn:hover{
    background: #6f42ad;
    transition: .75s ease;
}

.img-center{
    position: absolute;
    max-width: 885px;
    max-height: 468px;
    margin-top: 96px;
    margin-left: 336px;
    width: 100%;
    height: 100%;
}
.middle-text-img {
display: flex;

margin-top: 200px;
width: 100%;
padding: 32px 93px 24px 11px;
background: rgba(240, 99, 184, 0.15);
border-radius: 50px;
}
.middle_img {

    flex-basis: 45%;
    max-width: 477px;
    max-height: 504px;
    margin-right: 62px;
}
.middle_img img{
    width: 100%;
    height: 100%;
}
.middle_text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 475px;
    max-height: 310px;
    margin-top: 125px;
    gap: 20px;
    flex-basis: 54%;
}
.middle_text h2 {
width: 100%;
color: #212353;
}
.middle_text p{
width: 100%;
color: #4B5D68;
}

.feature-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width:1136px;
    width: 100%;
    margin-top: 150px;

}
.box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 584px;
    gap: 50px;
}
.feature-box h2 {
    display: flex;
    align-items: center;
    max-width: 405px;
    height: 52px;
    margin: 0 auto;
    justify-content: center;
    color: #212353;
    
} 
.box p{
    text-align: center;
    color: #4B5D68;
}

.feature-section{
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
     column-gap: 45px;
     row-gap: 105px;
     margin-top: 150px;
}

.slab {
    display: flex;
    max-width: 47%;
    position: relative;
    
}
.slab_img {
    max-width: 245px;
     max-height: 185px;
     margin-right: 29px;
}
.slab_img img{
    width: 100%;
    height: 100%;
}
.container-slab{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.slab_paragraph{
    width: 100%;
    max-height: 160px;
}
.slab-btn{
    font-family: 'Avenir';
    font-weight: 900;
    line-height: 160%;
    position: relative;
    display: flex;
    align-items: center;
    letter-spacing: 0.005em;
    border: none;
    background-color: inherit;
    color: #212353;
    max-width: 127px;
    width: 100%;
    max-height: 26px;
   margin-top: 20px;
}
.slab-btn::after{
    content: "";
    display: flex;
    align-items: center;
    background-image: url(../img/Group56vector.svg);
    width: 22px;
    height: 16px;
    position: absolute;
    top: 47%;
    transform: translate(0, -50%);
    transition: all .35s;
    right: 0;
    z-index: 1;
    background-repeat: no-repeat;
}
.slab-btn:hover{
    color: #68c9ba;
    transition: .75s ease;
}
.btn_plus{
    margin-top: 65px;
}

.slide{
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    width: 100%;
    max-height: 709px;
    background: #9C69E2;
    border-radius: 50px;
    padding: 109px 76px 62px 93px;
    margin-top: 14%;
}

.slide-h {
    max-width: 405px;
    max-height: 52px;
    color: #FFFFFF;
}
.slide-img{
    display: flex;
    flex-grow: 1;
    max-width: 132px;
    max-height: 90px;

}
.slide-img img {
    width: 100%;
}
.slider-info{
    display: flex;
    max-width: 949px;
    width: 100%;
    max-height: 330px;
    background: #FFFFFF;
    box-shadow:0px 20px 0px rgba(156, 105, 226, 0.3);
    border-radius: 20px;
    margin-top: 88px;
    gap: 15px;

         
}
.slider-child {
    width: 100%;
    height: 330px;
}
.slide-content{
    display: flex;
    flex-direction: row;
    gap: 15px;
    max-width: 743px;
    height: 330px;
    padding: 80px 30px;
}

.slider-container.slider-container{
    display: flex
    max-width: 743px;
    gap: 15px;
    margin-left: 15px;
    width: 100%;
}

.slick-dots.slick-dots {
    width: 25% ;
    margin: -15px ;
    }
    .slick-dots.slick-dots li button:before  {
    top: -10% ;
    left: -10% ;
    color: rgb(255, 254, 254);
    
}
.slick-dots.slick-dots li.slick-active button:before {
    color: rgb(255, 255, 255);
}
.arrow {
        position: absolute; /* я не дуже впевнена щодо позиції абсолют*/
        background: transparent;
        z-index: 1;
        width: 30px;
}

.prev  {
   
    top: 90% ;
    left: 85% ;
} 
.prev:hover{
    transform: scale(1.1);
    transition: .75s ease;
}
.next {
    
        top: 90% ;
        left: 90% ;
}
.next:hover{
    transform: scale(1.1);
    transition: .75s ease;
}


.slide-info__paragraph{
    display: flex;
    flex-direction: column;
    gap:19px;
    
}
.slide-info-h {   
    max-width: 250px;
    max-height: 29px;
    font-family: 'Avenir';
    font-weight: 900;
    letter-spacing: 0.005em;

color: #212353;
}
.mail{
    max-width: 148px;
    max-height: 22px;
    font-family: 'Avenir';
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.01em;

    color: #9C69E2;
}
.slide-paragraph{
    
    max-width: 563px;
    max-height: 130px;
    width: 100%;
    font-weight: 400;
    line-height: 180%;
    color: #4B5D68;
}
.line{
max-width: 1600px;
width:100%;
height: 2px;
margin-top: 150px;
background: #9C69E2;
opacity: 0.2;
}
footer{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    max-width: 1600px;
    width: 100%;
    font-family: 'Avenir';
    color: #212353;

}
.adverse{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}
.adverse-info{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.adverse-info-btn{
    display: flex;
    gap: 30px;
}
.footer_section {
    display: flex;
     flex-wrap: nowrap;
     margin-top: 153px;
    gap: 97px;
}
.container-footer{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}
.logo-name{
     font-family: 'Avenir';
    font-weight: 900;
    font-size: 20px;
    line-height: 160%;
}
.logo-footer{
    width: 100%;
    margin: 0;
}
.footer__address{
    font-size: 16px;
    line-height: 180%;
    letter-spacing: 0.01em;
    margin-top: 67px;
}
.link_mail{
    margin-top: 10px;
    font-size: 16px;
    line-height: 180%;
   
}

.link_mail:hover,
.link_number {
    color: #34367e;
    transition: .75s ease;
}
.footer-link{
    display: flex;
    flex-direction: column;
    letter-spacing: 0.01em;
}
.footer_list{
    display: flex;
    flex-direction: column;
    font-weight: 400;
    font-size: 16px;
    line-height: 250%;
}
.footer_list li:nth-child(1){
    font-weight: 900;
    font-size: 16px;
    line-height: 160%;
    margin-bottom: 30px;
}
h4{
    width: 100%;
    font-weight: 900;
font-size: 16px;
line-height: 160%;
}
.footer_social_img{
    margin-top: 30px;
    display: flex;
    gap: 14px;
}
.social_img1,
.social_img2,
.social_img3{
    display: flex;
    align-items: center;
    width: 50px;
    height: 50px;
    background: #212353;
    opacity: 0.1;
    justify-content: center;
    border-radius: 50%;
}
.social_img1 img {
 width: 9px;
 height: 20px;
}
.social_img2 img {
    width: 18px;
    height: 15px;
   }
.social_img3 img {
    width: 16px;
    height: 16px;
   }
.copy-text{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 93px;
}
.copy p{   
font-weight: 400;
font-size: 12px;
line-height: 180%;
letter-spacing: 0.01em;
max-width: 360px;
}

.copy-img{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 60px;
    max-height: 60px;
    border-radius: 50%;
    
   
}
.copy-img img{
width: 100%;
height: 100%;

}
